PORT=3000
SUPABASE_URL=isi_dengan_url_supabase
SUPABASE_KEY=isi_dengan_secret_key_supabase
EDAMAM_APP_ID=isi_dengan_app_id_edamam
EDAMAM_APP_KEY=isi_dengan_app_key_edamam
GEMINI_API_KEY=isi_dengan_api_key_gemini